@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-image: url(./assets/web_background.png);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

nav{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

#logo{
    width: 20rem;
}

.menu{
    color: #fff;
    text-decoration: none;
    margin-right: 5rem;
    position: relative;
}

.menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff; /* Adjust color as needed */
    transition: width 0.3s;
}

.menu:hover::after {
    width: 100%;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title{
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    max-width: 50rem;
    font-weight: 600;
    font-size: 5rem;
}

.text{
    color: #fff;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 25px;
    max-width: 50rem;
}  

#get-started{
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    background-color: #ffffff00;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border: solid #fff 2px;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.destination-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
}

.destination-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.planet-name{
    color: #fff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planet-description{
    color: #fff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

#get-started:hover{
    color: #6a0983;
    background-color: #fff;
}

#left-button{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    align-items: center;
    background-color: #6a0983;
    color: #fff;
    border: solid transparent 1px;
    border-radius: 50%;
}

#right-button{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    align-items: center;
    background-color: #6a0983;
    color: #fff;
    border: solid transparent 1px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
        overflow-x: hidden;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        gap: 2rem;
    }
    #logo{
        width: 20rem;
    }
    span{
        display: flex;
        gap: 3rem;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        gap: 1rem;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    a:hover{
        transform: scale(1.1); /* Aplica o efeito hover */
        color: #CB1AF8;
    }
    #logo {
        font-family: "Bruno Ace SC", Arial, Helvetica, sans-serif; /* Corrigido o nome da fonte */
        color: #fff;
    }

    main{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        align-items: center;
        gap: 1.5rem;
    }
    main div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        color: #fff;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        padding: 0 5rem 0 5rem;
        font-weight: 900;
        font-size: 36pt;
    }
    .text{
        color: #fff;
        text-align: center;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-weight: 200;
    }


    #get-start {
    align-items: center;
    background-color: #ffffff00;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    display: inline-flex;
    font-family: "Poppins",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    }
    .get-start:hover {
        color: #CB1AF8;
    }

    .get-start:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
    }
}

